# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\work project\tim portal\Tim-scientific-portal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
